[Unit]
Description=Cloud Bi-Sync (rclone bisync) for %i
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nc_pull %i
